<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="Environment" value="Development"/>

    <!-- app pool settings to make debugging easier -->
    <add key="AppPoolIdentityType" value="LocalService"/>
    <add key="PingingEnabled" value="false"/>
    <add key="IdleTimeout" value="00:20:00"/>

    <!-- SSL -->
    <add key="SslPassword" value=""/>
    <add key="SslJobseekerPlatform" value=""/>
  </appSettings>
</configuration>