<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Environment" value="Release"/>
		<add key="WebRoot" value="D:\Websites\Syringe.Web" />

		<add key="AppPoolIdentityType" value="LocalService"/>
		<add key="PingingEnabled" value="true"/>
		<add key="IdleTimeout" value="00:00:00"/>
	</appSettings>
</configuration>