@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 40px">
    <div class="col-md-offset-4">
        <a href="/runner" title="LETS DO THIS">
            <img src="/img/syringe.jpg" alt="LETS DO THIS" />
        </a>
    </div>
</div>