@model string
@section Scripts
{
	<script src="~/Scripts/Syringe/Run.js"></script>
	<script type="text/javascript">
		var filename = "@Model";

		$(document).ready(function()
		{
			var runner = new Syringe.Web.TestCaseRunner();
			runner.start(filename);
		});
	</script>
}

<div class="container">
	<div class="row">
		<h2>@Model</h2>
	</div>
	<div class="row">
		<div class="row">
			<div class="col-md-10">
				<div class="progress">
					<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 0">
						<span class="sr-only">0% Complete</span>
					</div>
				</div>

				<div id="running-items"></div>
			</div>
		</div>
	</div>
</div>