@using ServiceStack
@model TestCaseSession
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<img alt="Brand" src="~/img/syringe.svg" width="150" height="150">
		</div>

		<div class="col-md-10">
			<h2>All50.xml</h2>
			<pre>
				
			</pre>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				@Model.TotalCasesFailed
			</div>
		</div>
	</div>
</div>