@model IEnumerable<TestCaseViewModel>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<img alt="Brand" src="~/img/syringe.svg" width="150" height="150">
		</div>

		<div class="col-md-10">
			<h2>Test cases for @ViewData["Filename"]</h2>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<td></td>
					</tr>
				</thead>
				<tbody>
					@foreach (TestCaseViewModel testCase in Model)
					{
					<tr>
						<td>@testCase.Id</td>
						<td>@testCase.ShortDescription</td>
						<td>
							<a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "TestCase", new { filename = ViewData["Filename"], testCaseId = testCase.Id})">Edit</a>
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>