@model List<VariableModel>

@if (Model.Count > 0)
{
    <div class="alert alert-info">
        <strong>Available Parsed Responses and Variables</strong>

        <ul>
            @foreach (var item in Model)
            {
                <li>
                    {@item.Name} - @item.Value
                </li>
            }
        </ul>
    </div>
}