@model List<Syringe.Web.Models.Variables>

<div class="alert alert-info">
    <strong>Available Parsed Responses and Variables</strong>

    <ul>
            @foreach (var item in Model)
            {
                <li>
                    {@item.Name} - @item.Value
                </li>
            }
    </ul>
</div>
