@model TestFileViewModel
@{
	ViewBag.Title = "Editing XML " + Model.Filename;
}
<style type="text/css" media="screen">
	#editor {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
	}
</style>

<div class="container">
	<div class="row">
		<ul class="breadcrumb">
			<li><a title="View" href="/">Test Files</a></li>
			<li><a title="View" href="@Url.Action("View", "Test", new {filename = Model.Filename, pageNumber = ViewBag.PageNumber, noOfResults = ViewBag.NoOfResults})">@Model.Filename</a></li>
		</ul>

		<pre id="embedded_ace_code" class="ace_editor ace-tm" style="height: 400px">
			<div id="editor">@Model.Xml</div>
		</pre>
	</div>
</div>
<br/>

<script src="/Scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
	var editor = ace.edit("editor");
	editor.getSession().setMode("ace/mode/xml");
	document.getElementById("editor").style.display = "block";
</script>
