@model string

<div class="container">
	<div class="row">
		<h1>Login</h1>
		@using (Html.BeginForm())
		{
			<input type="hidden" value="@Model"/>
			<button type="submit" name="provider" value="Microsoft" class="btn-microsoft" style="height: 34px;">
				<span class="fa fa-windows"></span> Sign in with Microsoft
			</button>
			<button type="submit" name="provider" value="Google" class="btn-google" style="height: 34px;">
				<span class="fa fa-google"></span> Sign in with Google
			</button>
		}
	</div>
</div>