#running-items {
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;

	.case-result
	{
		border: 1px dashed grey;
		background-color: #f0f8ff;
		margin-bottom: 10px;
		padding: 10px;
		color: black;

		&.passed { background-color:green !important; color:white !important; }
		&.failed { background-color:orange !important; color:black !important; }
		&.error  { background-color:red !important; color:white !important; }
	}
}