// Bootstrap and material design
@import "bootstrap-sass/stylesheets/_bootstrap";
@import "materialdesign/materialdesign";

// Social buttons needs font-awesome and bootstrap mixins
@import "bootstrap-sass/stylesheets/bootstrap/_mixins";
@import "font-awesome-4.4.0/css/font-awesome.min.css";
@import "bootstrap-social/bootstrap-social";

body {
    background-color: rgb(239,239,239);
    font-family: 'Roboto', sans-serif;

}

h1, h2, h3, h4, h5, div, p {
    font-family: 'Roboto', sans-serif;
}

// All test case files
#test-cases {
    td {
        .filename {
            width: 85%;
        }
    }
}

// Single test file
#view-file {
    td {

        &.description {
            width: 75%;
        }

        form {
            display: inline;
        }
    }
}

// Test case edit page
#edit-test {
    .control-label {
        font-weight: normal;
        color: #858585;
    }

    h3.panel-title {
        font-size: 22px;
    }
}

// Test case results page
#testcase-result {
    .test-passed i {
        background-color: green;
    }

    .test-failed i {
        background-color: red;
    }
}

#running-items {

    .case-result {
        padding: 10px;

        &.passed {
            background-color: green !important;
            color: white !important;
        }

        &.failed {
            background-color: orange !important;
            color: black !important;
        }

        &.error {
            background-color: red !important;
            color: white !important;
        }
    }
}

.case-result-exception textarea {
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.case-result-errors {
    padding-top: 40px;
}


.panel {

    .form-control {
        border: 1px solid #d2d2d2 !important;
        background-image: none;
        padding: inherit;

        &:focus {
            background-image: none;
            padding: inherit;
        }

        &.input-validation-error {
            border: 1px solid red !important;

            &:focus {
                border: 1px solid red !important;
            }
        }
    }

    .btn {
        margin-top: 0;
    }
}

.pagination {
    margin: 10px 0;
}

.validation-summary-errors {
    padding: 10px !important;
}

.validation-summary-valid {
    padding: 0px !important;
}

.form-horizontal {

    .checkbox {
        padding-top: 7px;
    }
}

.file-list{
    form{
        display:inline;
    }
}