#running-items {

	.case-result
	{
		padding: 10px;

		&.passed { background-color:green !important; color:white !important; }
		&.failed { background-color:orange !important; color:black !important; }
		&.error  { background-color:red !important; color:white !important; }
	}
}